<h1>Users</h1>

<ul>
  <% User.all.each do |user| %>
    <li> User # <%= user.name %>
  <% end %>
</ul>

<h1>Admins</h1>

<ul>
  <% Admin.all.each do |admin| %>
    <li> Admin # <%= admin.name %>
  <% end %>
</ul>

<h1>Roles</h1>

<ul>
  <% Role.all.each do |role| %>
    <li> Role # <%= role.name %>
  <% end %>
</ul>

<h1>Permissions</h1>

<ul>
  <% Permission.all.each do |permission| %>
    <li> Permission # <%= permission.name %>
  <% end %>
</ul>